#obituaries-show
  %h1
    OBITUARY
  %p.obit
    %img.victim_photo{:src => @kill.photo.thumb('300x').process(:sepia).url, :align => 'left'}
    =render :inline => @intro
    =render :inline => @death_desc
    =render :inline => @leaving_behind
    and
    =render :inline => @leaving_behind2
    =render :inline => @final_words
  %p.assassin
    =render :inline => @assassin_section
  %p.assassin
    =render :inline => @join_assassin

