#obituaries-show
  %p.obit
    =render :inline => @intro
    =render :inline => @death_desc
    =render :inline => @leaving_behind
    and
    =render :inline => @leaving_behind2
    =render :inline => @final_words
  %p.assassin
    =render :inline => @intro_to_assassin
    =render :inline => @assassin_section
    =render :inline => @join_assassin
    
    