#obituaries-show
  %p.obit
    %img{:src => @kill.photo.url}
    =render :inline => @intro
    =render :inline => @death_desc
    =render :inline => @leaving_behind
    and
    =render :inline => @leaving_behind2
    =render :inline => @final_words
  %p.assassin
    =render :inline => @assassin_section
  %p.assassin
    =render :inline => @join_assassin

