#obituaries-show
  %h1
    OBITUARY
  %p.obit
    -if @obituary.kill.photo
      %img.victim_photo{:src => @obituary.kill.photo.thumb('300x300#').process(:sepia).url, :align => 'left'}
    =render :inline => @intro
    =render :inline => @death_desc
    =render :inline => @leaving_behind
    and
    =render :inline => @leaving_behind2
    =render :inline => @final_words
  %p.assassin
    =render :inline => @assassin_section
  %p.assassin
    =render :inline => @join_assassin

  %img.footer{:src => '/images/footer.png'}