@import "compass/css3"
+font-face("Carbon Type", font-files("/fonts/CarbonType-fontfacekit/carbontype-webfont.ttf", truetype))
+font-face("Harting", font-files("/fonts/Harting-fontfacekit/Harting_plain-webfont.ttf", truetype))
+font-face("MomsTypewriter", font-files("/fonts/MomsTypewriter-fontfacekit/Moms_typewriter-webfont.ttf", truetype))


#obituaries-index

#obituaries-show
  width: 750px
  background-image: url(/images/old_paper.jpg)
  min-height: 600px
  
  p
    margin-left: auto
    margin-right: auto
    padding: 20px 0px
    width: 550px
    font-family: "MomsTypewriter"
    font-size: 16px

    .name
      float: left
      font-weight: bold
      width: 330px

.assassin_photo
  text-align: center
  img
    border: 1px solid red